<div ng-controller="userAdd" ng-init="init()">
	<div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="form-validation-1">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload" data-original-title="" title=""><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse" data-original-title="" title=""><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">添加角色</h4>
            </div>
            <div class="panel-body panel-form">
                <form class="form-horizontal form-bordered" data-parsley-validate="true" name="demo-form" novalidate="">
					<div class="form-group">
						<label class="control-label col-md-4 col-sm-4" for="fullname">角色 * :</label>
						<div class="col-md-6 col-sm-6">
							<input class="form-control" ng-model='formData.rolename' type="text" id="fullname" name="fullname" ng-model=role.name placeholder="请输入姓名" data-parsley-required="true" data-parsley-id="6821">
						</div>
					</div>
		

			         <div class="form-group">
						<label class="control-label col-md-4 col-sm-4"> 授权列表 :</label>
						<div class="col-md-6 col-sm-6">
							
							<div ng-repeat="permission in permissions">
							   <label class="checkbox-inline">
                                <input type="checkbox" ng-true-value="{{permission.right}}" ng-false-value="{{permission.wrong}}" ng-model="perms[$index]" />{{permission["name"]}}                         
                                </label>
                            </div>
                              
                           
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-4 col-sm-4" for="message"> 所属帐套:</label>
						<div class="col-md-6 col-sm-6">
							<select ng-model='formData.taozhang' class="form-control">
                                <option value="" selected="">请选择</option>
                                <option value="AF">诸暨</option>
                                <option value="AL">杭州</option>
                           
                            </select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-4 col-sm-4" for="message">备注 :</label>
						<div class="col-md-6 col-sm-6">
							<textarea class="form-control" ng-model='formData.comments' id="message" name="message" rows="4" data-parsley-range="[20,200]" placeholder="请填写备注" data-parsley-id="8929"></textarea>
							<ul class="parsley-errors-list" id="parsley-id-8929"></ul>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-4 col-sm-4"></label>
						<div class="col-md-6 col-sm-6">
							<button type="submit" class="btn btn-primary" ng-click="create()">添加</button>
						</div>
					</div>
                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
</div>