<style type="text/css">
	td {
		vertical-align: middle!important;
	}
</style>
<div ng-controller="personnelManagement">
	<div class="col-12">
		<form class="user-management-search">
	        <div class="input-group m-b-15">
	            <input type="text" class="form-control input-sm input-white" placeholder="Search">
	            <span class="input-group-btn">
	                <button class="btn btn-sm btn-inverse" type="button"><i class="fa fa-search"></i></button>
	            </span>
	        </div>
	    </form>
		<div class="email-btn-row hidden-xs">
	        <a href="#/personnel/management/add" class="btn btn-sm btn-inverse"><i class="fa fa-plus m-r-5"></i> 添加</a>
	    </div>
    </div>
	<!-- begin row -->
	<div class="row">
	    <!-- begin col-12 -->
	    <div class="col-md-12">
	        <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="table-basic-7">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">人员列表</h4>
                </div>
                <div class="panel-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>姓名</th>
									<th>性别</th>
									<th>电话</th>
									<th>微信号码</th>
									<th>出生日期</th>
									<th>住宿地址</th>
									<th>所属帐套</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Table cell</td>
									<td>Table cell</td>
									<td>Table cell</td>
									<td>Table cell</td>
									<td>Table cell</td>
									<td>Table cell</td>
									<td>Table cell</td>
									<td>
										<button type="button" class="btn btn-info btn-sm m-r-5 m-b-5">详情</button>
										<button type="button" class="btn btn-primary btn-sm m-r-5 m-b-5">修改</button>
										<button type="button" class="btn btn-danger btn-sm m-r-5 m-b-5">删除</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
            <!-- end panel -->
	    </div>
	    <!-- end col-12 -->
	</div>
	<!-- end row -->
</div>

<script type="text/javascript">
	$(document).ready(function() {
		setTimeout(function() {
			TableManageDefault.init();
		}, 200)
	});
</script>