<style type="text/css">
	td {
		vertical-align: middle!important;
	}
</style>
<div ng-controller="commodityRecord" ng-init="query()">
	<!-- begin row -->
	<div class="col-12">
		<form class="user-management-search">
	        <div class="input-group m-b-15" >
	            <input type="text" name="search" ng-model="searchname"  class="form-control input-sm input-white"  placeholder="Search">
	            <span class="input-group-btn">
	                <button class="btn btn-sm btn-inverse" type="button" ng-click="search()" ><i class="fa fa-search"></i></button>
	            </span>
	        </div>
	    </form>
    </div>
	<div class="row">
	    <!-- begin col-12 -->
	    <div class="col-md-12">
	        <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="table-basic-7">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">商品订单记录列表</h4>
                </div>
                <div class="panel-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>商品订单名</th>
									<th>类型</th>
									<th>价格</th>
									<th>课程数</th>
									<th>学员</th>
									<th>挂账人员</th>
									<th>备注</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="order in OrderList">
									<td>{{order.OrderId}}</td>
									<td>{{order.OrderName}}</td>
									<td>{{order.OrderType}}</td>
									<td>{{order.Price}}</td>
									<td>{{order.Amount}}</td>
									<td>{{order.BuyName}}</td>
									<td>{{order.BuyerName}}</td>
									<td>{{order.Comment}}</td>
									<td>  
									<button type="button" class="btn btn-danger btn-sm m-r-5 m-b-5" ng-click="Delete(order.OrderId)">删除</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
            <!-- end panel -->
	    </div>
	    <!-- end col-12 -->
	</div>
	<!-- end row -->
</div>

<script type="text/javascript">
	$(document).ready(function() {
		setTimeout(function() {
			TableManageDefault.init();
		}, 600)
	});
</script>